.elements {
  background-color: #333;
  flex: 0 0 auto;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%; }

.elements-image {
  width: 100%;
  height: 100%; }
  .elements-image .elements-image-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden; }
    .elements-image .elements-image-container .image {
      width: 100%;
      height: 100%;
      position: relative;
      background-size: cover;
      background-position: center center;
      transition: ease all 0.2s; }
  .elements-image .zoom {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: scale3d(0, 0, 1);
    width: 50px;
    height: 50px;
    background-color: #00c29a;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 3;
    transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
    margin: auto;
    border-radius: 50%; }
    .elements-image .zoom img {
      width: 20px;
      height: 20px; }

.elements-video {
  position: relative;
  overflow: hidden; }
  .elements-video .elements-video-container {
    height: 100%; }
    .elements-video .elements-video-container .elements-video-bg {
      height: 100%;
      background-size: cover;
      background-position: center center; }
      .elements-video .elements-video-container .elements-video-bg:hover {
        transform: scale(1.1);
        transition: ease all 0.2s; }
  .elements-video .elements-video-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    height: 40px; }
    .elements-video .elements-video-caption .play {
      width: 35px;
      height: 35px;
      background-color: #00c29a;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      margin-right: 0.8rem;
      flex: 0 0 auto;
      border-radius: 50%;
      transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s; }
      .elements-video .elements-video-caption .play i {
        color: #fff;
        line-height: 40px; }
  .elements-video .elements-video-headline {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center; }
    .elements-video .elements-video-headline .headline-title {
      font-size: 14px !important; }
    .elements-video .elements-video-headline .headline-subtitle {
      font-size: 11px !important; }

.elements-quote {
  background-color: #333; }
  .elements-quote .elements-quote-caption {
    width: 100%;
    height: 100%;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    align-elementss: center;
    justify-content: space-around;
    flex-direction: column; }
    .elements-quote .elements-quote-caption h2 {
      color: #eee;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em; }
    .elements-quote .elements-quote-caption i {
      color: #444;
      text-align: center; }
    .elements-quote .elements-quote-caption:hover h2 {
      transform: scale(1.1);
      transition: ease all 0.2s; }

.elements-video:after, .elements-image:after {
  position: absolute;
  top: 30%;
  left: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  content: " ";
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s; }

.elements-video:hover .image, .elements-video:hover .elements-video-bg, .elements-image:hover .image, .elements-image:hover .elements-video-bg {
  transform: scale(1.1);
  transition: ease all 0.2s; }

.elements-video:hover:after, .elements-image:hover:after {
  opacity: 1; }

.elements-video:hover .zoom, .elements-image:hover .zoom {
  transform: scale3d(1, 1, 1); }
