.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white; }

.logo-container {
  display: flex;
  align-items: center; }

.logo {
  height: 40px;
  margin-right: 10px; }

.header-controls {
  display: flex; }

.button {
  width: 30px;
  height: 30px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  transition: ease all 0.2s; }

.button:hover {
  filter: brightness(115%); }

.button i {
  color: #eee;
  line-height: 30px; }

@media screen and (max-width: 768px) {
  .title {
    display: none; } }
