.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1B1C20;
  height: 40px;
  padding: 5px;
  color: white; }
  .header .logo-container {
    display: flex;
    align-items: center; }
    .header .logo-container img {
      height: 40px;
      margin-right: 0.8rem; }
    .header .logo-container .title {
      font-size: 1.2rem; }
  .header .header-controls {
    display: flex; }
    .header .header-controls .button {
      width: 30px;
      height: 30px;
      background-color: #333;
      border-radius: 50%;
      text-align: center;
      margin: 0 10px;
      cursor: pointer;
      transition: ease all 0.2s; }
      .header .header-controls .button i {
        color: #eee;
        line-height: 30px; }
      .header .header-controls .button:hover {
        filter: brightness(115%); }
